<p>Username: <%=h @user.name %></p>

<h2>Friends</h2>
<% if @user.friendships.any? %>
<ul>
  <% @user.friendships.each do |friendship| %>
   <table class="table">
   <tr class="success">
      <td><%=h friendship.friend.name %></td>
      <td>- <%= link_to "remove", friendship, :method => :delete %></td>
   </tr>
   </table>
  <% end %>
</ul>
<% else %>
      <table class="table">
      <tr class="danger">
      <td>	<h2> You have no friends ... </h2> </td>
      </tr>
      </table>	
 <% end %>
 
<p><%= link_to "Find New Friends", user_session_path %></p>

