<p>Username: <%=h @user.name %></p>

<h2>Friends</h2>
<% if @user.friendships.any? %>
  <% @user.friendships.each do |friendship| %>
   <table class="table">
   <tr class="success">
      <td><%=h friendship.friend.name %></td>
      <td> <%= link_to "remove", friendship, :method => :delete %></td>
   </tr>
   </table>
  <% end %>
<% else %>
      <table class="table">
      <tr class="danger">
      <td>	<p> You have no friends ... </p> </td>
      </tr>
      </table>	
 <% end %>
 
<p><a href="/users/index">Find New Friends</a></p>

