<p>Username: <%=h @user.name %></p>

<h2>Friends</h2>
<% if @user.friendships.any? %>
<ul>
  <% @user.friendships.each do |friendship| %>
   <table class="table">
   <tr class="success">
      <td><%=h friendship.friend.name %></td>
      <td>- <%= link_to "remove", friendship, :method => :delete %></td>
   </tr>
  <% end %>
</ul>
<% else %>
	<h2> You have no friends ... </h2>
 <% end %>
 </table>
<p><%= link_to "Find New Friends", user_session_path %></p>

